.note
{
  text-align: center;
  height: 80px;
  background: #6f5499;
  color: white;
  font-weight: bold;
  line-height: 80px;
}
.form-content
{
  padding: 5%;
  border: 1px solid white;
  margin-bottom: 2%;
}
.form-control{
  border-radius:1.5rem;
}
.btnModal
{
  border:none;
  border-radius:1.5rem;
  padding: 1%;
  width: 40%;
  cursor: pointer;
  background: #0062cc;
  color: white;
  float: right;
}



.close{
  color: #000;
  text-shadow: 0 1px 0 #fff;
  margin-right: 5px;
}