<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Warhammer Tournaments</title>

  <!-- Bootstrap core CSS -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../css/wtg-modals.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="../css/wtg-main.css" rel="stylesheet">



</head>

<body>
  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-red-brown border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Warhammer Tournament Generator </div>
      <div class="list-group list-group-flush">
        <a href="/" class="list-group-item list-group-item-action bg-red-brown">AoS Tournaments</a>
        <a href="/admin" class="list-group-item list-group-item-action bg-red-brown">Admin</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-red-brown border-bottom">
        <button class="btn button-main" id="menu-toggle">Tournaments</button>
        {% if session.email is  defined %}
          <button class="btn button-main" id="btnLogOut" >Logout</button>
          <span id="loggedIn">   Logged as: {{ session.email }}</span>
        {% else %}
        <button class="btn button-main" data-toggle="modal" data-target="#SignUpModal">Sign Up!</button>
        <button class="btn button-main" data-toggle="modal" data-target="#LoginModal">Login</button>
        {% endif %}

      </nav>
        <img class="col-md-12" src="img/brutes.jpg">
      <div class="container-fluid">
        <h1 class="mt-4">Welcome to the main page for Warhammer Tournament generator</h1>
        <p>This page is under construction and It's not ready to be used</p>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->


  <!-- Sign Up Modal -->

  <div class="modal fade" id="SignUpModal" tabindex="-1" role="dialog" aria-labelledby="SignUpModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">

        <div class="form">
          <div class="note">
            Please sign up to get access to tournament generator.
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" >&times;</span>
            </button>
          </div>
          <div class="form-content">
            <form  id="signUpForm">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="email" id="signupEmail"  name="email" class="form-control signupInput" placeholder="Your Email *" value="" required/>
                </div>
                <div class="form-group">
<!--                  validation-->
                  <span id="formDataValidation"></span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="password" id="passwordSignUp" name="password" class="form-control signupInput" placeholder="Your Password *" value="" required/>
                </div>
                <div class="form-group">
                  <input type="password" id="passwordSignUpVerification" class="form-control signupInput" placeholder="Confirm Password *" value="" required/>
                </div>
              </div>
            </div>
            <div class="row">

              <div class="col-md-6">
              </div>
              <div class="col-md-6">
                <button type="button" class="btnModal" id="btnsubmit">Submit</button>
              </div>
            </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Log in Modal -->

  <div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="LoginModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">

        <div class="form">
          <div class="note">
            Please log in to access restricted content.
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" >&times;</span>
            </button>
          </div>
          <div class="form-content">
            <form  id="loginForm">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="email" id="loginEmail" name="email" class="form-control loginInput" placeholder="Your Email *" value="" required/>
                  </div>
                  <div class="form-group">
                    <!--                  validation-->
                    <span id="loginDataValidation"></span>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="password" id="passwordLogin" name="password" class="form-control loginInput" placeholder="Your Password *" value="" required/>
                  </div>
                </div>
              </div>
              <div class="row">

                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                  <button type="button" class="btnModal" id="btnLogin">Log In</button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--  Customs JS -->
  <script src="../js/wtg.js"></script>
</body>

</html>
